

@font-face {
  font-family: 'Nothing';
  font-weight: lighter;
  src: local('Nothing'), url(./fonts/Nothing_NdroidOs_led.ttf) format('truetype');
}


* {
  margin: 0px;  
  color: whitesmoke;
  background-color: black;
  font-family: Nothing;
}

.about{
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.social{
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 20px;
  bottom: 0px;
  left: 40px
}

.email{
  display: flex;
  position: fixed;
  flex-direction: column;
  margin-left: auto;
  right: 40px;
  bottom: 0px;
}

.social a{  
  text-decoration: none;
  position: relative;
  margin-bottom: 15px;
}

.email a{  
  writing-mode: vertical-rl;
  text-decoration: none;
  writing-mode: sideways-lr;
  position: relative;
  margin-bottom: 15px;
}

.email a:hover {
  color: #0ae942;
  transform: translate(0px, -5px);
}

.social a:hover .icon{
  stroke: #0ae942;
  transform: translate(0px, -4px);
}

.greeting{
  margin: 0px auto;
  padding: 100px 0px;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.greeting h2{
  margin-bottom: 30px;
}
.greeting h1{
  font-size: 60px;
  margin: 10px 0px;
}

.dividerVertical{
  margin: 0px;
  height: 10vh;
  width: 2px;
  margin-left: 7px;
  background-color: black;
  border-left: 2px dotted white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
